<button type="button" class="list-group-item list-group-item-action" style="border: none;"><i class="fa fa-home mx-2 px-2 "></i>Accueil</button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none;"><i class="fa fa-file mx-2 px-2"></i> Documents</button>
        <button type="button" class="list-group-item list-group-item-action mx-auto" style="border: none;"><i class="fa fa-plane  mx-2 px-2"></i>Conges</button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none;"> <i class="fa fa-user  mx-2 px-2"></i>Absences</button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none;"><i class="fa fa-envelope  mx-2 px-2"></i>Communication</button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none;"><i class="fa-solid fa-users mx-2 px-2"></i>Collaborateur</button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none;"><i class="fa-solid fa-calendar mx-2 px-2"></i>Evenements</button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none;"><i class="fa-solid fa-folder mx-2 px-2"></i>Ressources</button>
        <button type="button" class="list-group-item list-group-item-action" style="border: none;"><i class="fa-solid fa-circle-user mx-2 px-2"></i>Profile</button>
<button type="button" class="list-group-item list-group-item-action pt-5" style="border: none;"><i class="fa-solid fa-arrow-right-from-bracket mx-2 px-2"></i>Log out</button>
    
